*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #a9caab;
}
.triangle-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
label{
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}
input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #3e8e41;
}
#result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
h2{
    margin-top: 30px;
}
#results{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}